# Ficheiro: aplicativo/public/.htaccess
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Se o pedido não for um ficheiro ou diretório real,
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redireciona tudo para o index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>